/*!
Theme Name: samson
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: samson
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

samson is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,400i,500,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    color:#2a2a2a;
    overflow-x: hidden;
}
body.template-stages .map {
    display: none;
}
span.border_red {
    padding-bottom: 20px;
    border-bottom:8px solid #E8A930;
}
span.border_red_min {
    padding-bottom: 10px;
    border-bottom:5px solid #E8A930;
}
.site_container {
    width:80%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.single-blog .site_container {
    width:60%;
    max-width: 1000px;
}
.site_container.site_container_compact {
    max-width: 800px;
}

button, input[type=submit] {
    -moz-appearance: none;
-webkit-appearance: none;
    border-radius: 0;
}
h1 {
    font-size: 60pt;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 1em;
}
h2 {
    font-size: 34pt;
    font-weight: 700;
    margin: 0;
    line-height: 1em;
}
h3 {
    font-size: 20pt;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    line-height: 1em;
}
h4 {
    font-size: 15pt;
    font-weight: 500;
    line-height: 1em;
    margin: 0;
    letter-spacing: 0.25px;
}
h6 {
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    margin:0;
    line-height: 1em; 
}
p {
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.25em;
}
ul, li {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color:inherit;
}
label {
    text-transform: capitalize!important;
    font-size: 11pt !important;
}
.wpcf7-form {
    padding: 10px !important;
}
input {
    outline: 0;
}
button {
    outline: 0;
}
input[type="submit"],
.btn_standard {
    font-size: 16px;
    background: #E8A930;
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    border:0;
}
.btn_standard {
    width: auto;
    padding: 15px 30px;
}
.desktop_show {
    display: block;
}
.desktop_hide {
    display: none;
}
.grey_bg {
    background: #f3f3f3 !important;
}
.cta_button {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


/*HEADER*/
.site_header {
    top:0;
    position: fixed;
    width: 100%;
    background: #1F1F1F;
    z-index: 99;
}
body.home .site_header {
    background: #1F1F1F;
    position: fixed;
}
body.home #sticker.darkHeader {
    width: 100% !important;
    background: #1F1F1F;
    z-index: 99 !important;
}
.site_header .site_container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.site_header .site_container img {
    width: 100%;
    max-width: 130px;
}
.header_menu a{
    color:#fff;
    font-size:12pt;
    letter-spacing: 0.025em;
}
ul#mega-menu-menu-1 li {
    display: inline-block;
    margin-left: 50px !important;
}
ul#mega-menu-menu-1 li.button_red a {
        font-size: 18px !important;
    background: #E8A930 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #fff;
    text-transform: uppercase !important;
    font-weight: 400;
    border: 0;
}
ul#mega-menu-menu-1 li.mega-current_page_item {
    padding-bottom: 5px;
    border-bottom:2px solid #E8A930 !important;
}
ul#mega-menu-menu-1 li:hover {
    padding-bottom: 5px;
    border-bottom:2px solid #E8A930 !important;
}
div#responsive-menu-container {
    padding-top: 100px;
}
/*HOME - SPLASH*/
.home_splash {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    margin-top: 100px;
}
.page-events .home_splash {
    margin-top: 127px;
    height: calc(100vh - 127px)
}
img.lights {
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
    width: 100%;
    opacity: 0.35;
/*
      animation: 10s ease 0s normal none infinite running zoomEffect;
  -webkit-animation: 10s ease 0s normal none infinite running zoomEffect;
  -o-animation: 10s ease 0s normal none infinite running zoomEffect;
  -moz--o-animation: 10s ease 0s normal none infinite running zoomEffect;
*/
}

/*
@keyframes zoomEffect {
    from {transform: scale(1, 1)}
    to {transform: scale(2, 2)}
}
*/

.page-events .splash_content {
    text-align: center;
}
.page-events .splash_content h1 {
    margin: 0 auto;
}
.splash_content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 9;
}
.splash_content h1 {
    color:#fff;
    font-size: 70pt;
    margin-bottom: 1em;
}
.splash_content .btn_standard {
    width: fit-content;
    font-style: normal;
    font-size: 24px;
}
  

.splash_cta .wpcf7,
.splash_cta form.wpcf7-form{
    height: 100%;
}
.booking_form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.booking_form > div {
    width: 90%;
    margin-left: 5% !important;
}
.booking_form input[type=text],
.booking_form input[type=email],
.booking_form select {
    border: 0;
    border-bottom: 1px solid rgba(42, 42, 42, 0.7);
    width:80%;
    font-size: 13pt;
}
.booking_form select {
    width: 100%;
    height: 23px;
    border: 0;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
}


/*SAMSON STAGES*/

.samson_stages {
    padding-top: 200px;
    padding-bottom: 200px;
    background:#fff;
    background-size: cover;
    background-position: center;
}
.stage_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.stage_flex > div {
   flex-basis: 30%;
flex-grow: 0;
}
.samson_stages.stage_black {
    background: #000;
}
.samson_stages.stage_grey {
    background: #1F1F1F;
    padding-top: 100px;
    padding-bottom: 100px;
}
.samson_stages.stage_black h2,
.samson_stages.stage_black p,
.samson_stages.stage_grey h2,
.samson_stages.stage_grey p{
    color:#fff;
}
.page-events .samson_stages {
    padding-top: 50px;
    padding-bottom: 50px;
}
.words_candy_standard {
    display: flex;
    justify-content: space-between;
}
.words_candy_standard.non_flexed {
    flex-direction: column;
}
.words_candy_standard.non_flexed .words {
    width: 100%;
    text-align: center;
}
.words_candy_standard.non_flexed .words p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.candy img {
    width: 75%;
}
.words_candy_standard .candy {
    text-align: right;
    width: 65%;
}
.words_candy_standard .candy.non_flexed {
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.words_candy_standard .candy.non_flexed img {
    margin: 0 auto;
    display: block;
    margin-bottom: 100px;
}
.words_candy_standard .candy.candy_left {
    text-align: left;
}
.words_candy_standard .candy .slide {
    height: 500px;
    background-size: cover;
    background-position: center;
    width: 90%;
    margin-right: 0;
    margin-left: auto;
}
.words_candy_standard .words {
    width: 35%;
}
.words_candy_standard .words .btn_standard {
    margin-top: 30px;
}

/*SAMSON EXTRAS*/
.samson_extras {
    background: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
}
.samson_extras .words_candy_standard {
    margin-bottom: 50px;
}
.samson_extras .words_candy_standard .candy .slide {
    height: 275px;
}
.samson_extras .words_candy_standard .words h2 {
    margin: 0 auto 35px;
}
.words_candy_standard .candy .slide.push_left {
    margin-left: 0;
    margin-right: auto;
}

/*SAMSON MAP*/
.samson-map img{
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*SAMSON SCOOP*/
.default_container {
    background-color: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
}
.samson-grid-tres {
    width: 100%;
    display: flex;
    flex-direction: row;
}
body.page-the-samson-scoop .samson-grid-tres {
    flex-wrap: wrap;
}

.samson-feature {
    flex:1;
    margin: 10px;  
}
.samson-feature h4 {
    min-height: 70px;
}
body.page-the-samson-scoop .samson-feature {
    flex: 0 48%;
    margin-bottom: 50px;
}
.samson-feature:first-child {
    margin-left: 0;
}
.samson-feature:last-child {
    margin-right: 0;
}
.samson-feature .samson-feature-bg {
    height: 500px;
    background-size: cover;
    background-position: center;
}
div.samson-grid-tres div.samson-feature-bg {
    width: 50%;
    height: 250px;
     background-size: cover;
    background-position: center;
}
.samson-feature-title {
    padding: 30px 25px 10px;
}
.samson-feature-title.centered-title {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.samson-feature-title p {
    color:#77777e;
    line-height: 1.5em;
}

.samson-feature.feature-scoop .samson-feature-bg {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.samson-feature-title.no-pad {
    padding: 15px 0 0 0;
}
.samson-feature-title.no-pad h4 {
    font-size: 13.5pt;
    line-height: 1.25em;
    min-height: 70px;
}
.samson-feature-title.no-pad h6 {
    font-size: 11pt;
    color:#748494;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 8px;
}
.author-info {
    margin-bottom: 15px;
}
.author-info p {
    font-size: 11pt;
    font-weight: 500;
    letter-spacing: 0.25px;
    color:#748494;
    display: inline-block;
}
.author-info p span {
    color:#E8A930;
    margin-right: 5px;
}
.author-info img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.samson-scoop-cta {
    margin-top: 35px;
    text-align: center;
}
.samson-scoop-cta .btn_standard {
    background: transparent;
    color:#2a2a2a;
    border: 1px solid #2a2a2a;
    font-weight: 700;
    font-size: 14pt;
}
.samson-scoop-alt .default_container{
    padding-top: 200px;
}
.more_button {
    margin-top: 30px;
}
.slides {
        background: #f3f3f3;
    padding-bottom: 100px;
}
.page-events .slides {
    background: #fff;
}
.slides .center {
    margin-top: 100px;
}
.slick-slide img {
    margin: 0 auto;
}
.slide_view {
    height: 400px;
    background-size: cover;
    background-position: center;
        background-blend-mode: overlay;
    background-color: rgba(225, 49, 26, 0.7);
}
.slick-slide.slick-current.slick-active.slick-center .slide_view  {
    height: 450px;
    background-color: transparent;
}
/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}
.slick-track {
        display: flex !important;
    align-items: center;
}
.slick-next {
    right: 10% !important;
}
.slick-prev {
    left: 9% !important;
    z-index: 99;
}
.slick-next:before, .slick-prev:before {
    font-size: 35px !important;
}
.brand_logos {
    display: flex;
    justify-content: space-between;
}
.brand_logos > div {
    display: flex;
    justify-content: center;
    max-height: 110px;
}
.brand_logos img {
    width: 110px;
}
/*SAMSON CONTACT HOME*/
.contact_home {
    padding-top: 80px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E8A930;

}
.contact_home.blend {
  -webkit-transition: background-color 3s; /* Safari prior 6.1 */
  transition: background-color 3s;
        background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
}
.contact_home p, 
.contact_home h2,
.contact_home label{
    color: #fff !important;
}
.contact_home label {
    text-transform: uppercase !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
}
.contact_home  .grouped_fields > div input,
.contact_home  .contact_form textarea {
    border-bottom: 1px solid #fff !important;
    color:#fff !important;
}
.contact_home  .contact_form textarea  {
    border: 1px solid #fff;
    margin-top: 20px;
    height: 80px;
}
.contact_home .contact_form textarea  {
    width: 96%;
    padding-top: 5px;
}
select.wpcf7-form-control.wpcf7-select {
    width:90%;
    height: 30px;
        margin-top: 28px;
}
/*SAMSON STRIP*/
.samson-strip {
    height: 250px;
    background: #FFF;
    position: relative;
    
}
.samson-strip .site_container {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.samson-strip .director-chair {
/*    position: absolute;*/
    text-align: center;
    width: fit-content;
    top:-15px;
    z-index: 9;
    display: flex;
    align-items: center;
}
.samson-strip .director-chair .btn_standard {
    height: fit-content;
}
.samson-strip .director-chair img {
    width: 425px;   
    margin-top: -15px;
        margin-right: -25px;
    z-index: 9;
}
.samson-strip-cta {
/*    position: absolute;*/
    right: 12%;
    top: 44%;
}
.samson-strip-cta .btn_standard {
    padding-left: 40px;
    padding-right: 40px;
}
.samson-strip .call-time {
    height:250px;
    justify-content:center;
    display: flex;
    flex-direction: column;
}
.samson-strip .call-time h6,
.samson-strip .call-time h3 {
    color:#E8A930;
}
.samson-strip .call-time h6 {
    font-size: 16pt;
}
.samson-strip .call-time h3 {
    font-size: 32pt;
    letter-spacing: 1px;
}
.samson-strip .call-time p {
    margin-top: 8px;
}
section.map {
    pointer-events: none;
}
/*CONTACT US*/
.inner {
    padding-top: 200px;
    padding-bottom: 200px;
}
.inner_header {
    margin-bottom: 70px;
}
.words_standard {
    width:70%;
}
.contact_form {
    margin-top: 50px;
}
.contact_form label {
    text-transform: capitalize;
    font-weight: 400;
}
.grouped_fields > div input,
.contact_form textarea{
    border: 0;
    border-bottom: 1px solid #2a2a2a;
    padding-top: 35px;
    font-size: 13pt;
    background: transparent;
}
.contact_form textarea  {
    border: 1px solid #2a2a2a;
    margin-top: 20px !important;
    height: 80px !important;
    outline: 0;
    width: 96% !important;
    padding-top: 5px;
    height: 80px;
}

.grouped_fields {
    display: flex;
    justify-content: space-between;
} 
.grouped_fields > div {
    width: 50%;
    margin-right: 5% !important;
    margin-bottom: 30px !important;
}
.grouped_fields > div input {
    width: 90%;
    outline: 0;
}
.contact_form input[type="submit"] {
    margin-top: 30px;
}


/*FOOTER*/
footer {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #1f1f1f;
}
footer h2 {
    padding-bottom: 15px;
}
footer ul#primary-menu li {
    margin-bottom: 10px;
}

.samson-footer {
    text-align: center;
}
.samson-info img.logo{
    width: 170px;
    margin-bottom: 10px;
}
.samson-info img.icon {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
}
.samson-info ul li {
    margin-bottom: 10px;
}
.samson-info ul li p {
    font-size: 16pt;
    font-weight: 500;
    display: inline-block;
    color:#fff;
    margin: 0;
}
.samson-info ul li p.copy {
    font-weight: 300;
}
.samson-social {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.samson-social img {
    width: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.single-blog h1 {
        font-size: 48pt;
}
/*THE SAMSON SCOOP INNER*/
.samson-scoop-inner {
    padding-top: 200px;
    padding-bottom: 200px;
}
.samson-scoop-inner .samson-grid-tres {
    display: block;
}
.samson-scoop-inner .samson-feature.feature-scoop .samson-feature-bg {
    height: 500px;
    width: 100%;
}

.samson-scoop-inner .samson-feature.feature-scoop {
    margin-top: 50px;
}
.samson-scoop-inner .samson-feature-title {
    margin-bottom: 30px;
}
.samson-feature-title .blog_content img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*SAMSON STAGES*/
.samson_stages.samson_stages_inner  {
    background: #f3f3f3;
}
.samson_stages.samson_stages_inner .site_container {
    overflow: hidden;
}
.samson_stages_inner .words_candy_standard {
    margin-bottom: 150px;
}

.samson_stages_inner .words_candy_standard .candy .slide {
    width: 98%;
    position: relative;
}
.samson_stages_inner .words_candy_standard .candy button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
}
.samson_stages_inner .words_candy_standard .candy {
    width: 100%;
    position: relative;
}
.samson_stages_inner .words_candy_standard .words {
    width: auto;
    position: relative;
}
.samson_stages_inner .words_candy_standard .words.left-word h1 {
    text-align: left;
}
.samson_stages_inner .words_candy_standard .words.left-word img {
    left: 0;
    width: 185px;
}

.words_candy_standard .candy .slide.left-slide {
    margin-left: 0;
    margin-right: auto;
}
.samson_stages_inner .words_candy_standard .words h1 {
    text-align: right;
}
.samson_stages_inner .words_candy_standard .words img {
    position: absolute;
    bottom: 0;
    width: 210px;
    right: 0;
}

.samson_stages_inner.samson_stages_detail .words_candy_standard {
    display: block;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words h1 {
    margin-right: 20px;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words h2 {
    margin-bottom: 0;
    opacity: .8;
}
.samson_stages_inner.samson_stages_detail .words_candy_standard .words img {
    left: 0;
    position: relative;
}

.specs-chart {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    margin-bottom: 100px;
}
.specs-chart ul li {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
    padding-left: 10px;
}
.specs-chart ul li:last-child {
    border-bottom: 0;
}
.specs-chart ul li img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    display: inline-block;
}
.specs-chart ul li p {
    display: inline-block;
    font-weight: 600;
    font-size: 14pt;
    text-transform: uppercase;
    margin: 0;
}
.floor_plan {
    text-align: center;
}
.floor_plan img {
    width: 100%;
    margin-bottom: 30px;
}
.slides.slides-alt .center {
    margin-top: 0;
}
.n2-active {
    background: #E8A930FF !important;
}
.logos img {
    width: 100%;
}

/*EVENTS*/
.page-events .words h2 {
    margin-bottom: 50px;
}
.page-events .inner_header {
    padding-top: 50px;
}


.inner_top {
    margin-top: 100px;
}
@media screen and (max-width:768px) {
    .desktop_show {
        display: none;
    }
    .desktop_hide {
        display: block;
    }
    .wpcf7 .wpcf7-submit {
        margin-right: auto !important;
    }
    .wpcf7-form input[type=text]:not(.browser-default) {
        height: 2rem !important;
    }
    .wpcf7 .preloader-wrapper.ajax-loader.small {
        display: block !important;
    }
    .booking_form input[type=submit] {
        width: 100% !important;
    }
    .booking_form > div {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .contact_form textarea {
        width: 100% !important;
    }
    .specs-chart ul li p {
            font-size: 11pt;
    width: 90%;
    }
    .site_container {
        width: 92%;
    }
    h1 {
        font-size: 26pt;
    }
    .splash_content h1 {
        font-size: 40pt;
    }
    span.border_red {
        padding-bottom: 10px;
    }
    .home_splash,
    .page-events .home_splash{
        height: 65vh;
    }
    .page-events .home_splash { 
/*        margin-top: 0;*/
    }
    .splash_cta {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        bottom: auto;
        top:-50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .booking_form {
        display: block;
        text-align: center;
    }
    .booking_form > div {
        margin-bottom: 25px;
        }
    .booking_form input[type=text], .booking_form input[type=email] {
        text-align: center;
    }
    .samson_stages {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .words_candy_standard {
        display: flex;
        flex-direction: column;
    }
    .words_candy_standard .words {
        width: 100%;
        margin-bottom: 40px;
    }
    .words_candy_standard .candy {
        width: 100%;
    }
    .words_candy_standard .candy .slide {
        width: 100%;
        height: 300px;
    }
    .samson_extras {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .slide_view {
        height: 200px;
    }
    .slick-slide.slick-current.slick-active.slick-center .slide_view {
        height: 250px;
    }
    .samson-grid-tres {
        display: block;
    }
    .samson-feature .samson-feature-bg {
        height: 300px;
    }
    .samson-feature-title.centered-title {
        background: transparent;
        box-shadow: none;
    }
    .default_container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .samson-strip .director-chair img {
        display: none;
    }
    .samson-strip .call-time h3 {
        font-size: 22pt;
    }
    .samson-strip-cta {
        right: 2%;
    }
    .samson-strip-cta .btn_standard {
        padding-left: 25px;
        padding-right: 25px;
    }
    .samson-strip,
    .samson-strip .call-time{
        height: 215px;
    }
    .contact_home {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .grouped_fields {
        display: block;
    }
    .grouped_fields > div {
        width: 100%;
        margin-bottom: 20px;
    }
    .grouped_fields > div input, .contact_form textarea {
        padding-top: 20px;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .samson-footer {
        display: block;
        text-align: center;
    }
    .footer-links {
        margin-bottom: 30px;
    }
    .inner {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .samson-scoop-inner .samson-feature.feature-scoop .samson-feature-bg {
        height: 300px;
    }
    .samson_stages_inner .words_candy_standard .words img {
        left: 0;
        width: 85px !important;
    }
    .samson_stages_inner .words_candy_standard .candy .slide {
        width: 100%;
    }
    .samson_stages_inner .words_candy_standard .words img.one {
        width: 65px !important;
    }
    .samson_stages_inner .words_candy_standard .words.left-word img {
        right: 0;
        left: auto;
        width: 200px;
    }
    .samson_stages.samson_stages_inner {
        padding-top: 200px;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard .words h2 {
        font-size: 16pt;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard .words {
        margin-bottom: 10px;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard {
        margin-bottom: 50px;
    }
    .samson_stages_inner.samson_stages_detail .words_candy_standard .words {
        display: block;
    }
    .words_standard {
        width: 100%;
    }
    .home_splash {
        background-attachment: inherit;
    }
    .samson-feature-title.no-pad h4 {
        min-height: auto;
    }
    .single-blog .site_container {
		width:95%;
    }
    .slides .center {
        margin-top: 0;
    }
    .samson-feature h4 {
        min-height: auto;
        margin-bottom: 25px;
    }
    .brand_logos {
        flex-wrap: wrap;
    }
    .brand_logos > div {
        display: block;
    flex: 0 33%;
    padding: 10px;
    margin-bottom: 15px;
    }
    h2 {
        line-height: 1.6em;
    }
    .stage_flex {
        flex-direction: column;
    }
    .stage_flex h2 br {
        display: none;
    }
    .candy img {
        width: 100%;
    }
    .words_candy_standard.flex_reverse {
        flex-direction: column-reverse;
    }
}